In [1]:
###
print('Hello world')

Hello world

In [5]:
if 5 < 2:
    print('Five is greater than two')
else:
    print('Five is less than two')

Five is less than two

In [11]:
# variables


x = 5 
y = 'Hello world'

print(x)
print(y)

5
Hello world

In [12]:
X=5
x = 'sally'
print(x)

sally

In [14]:
x= 5
y= 'John'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [17]:
x = 5e
y=5d3
z =-34.4r3
print(type(x))
print(type(y))
print(type(z))

SyntaxError: invalid decimal literal (3301064147.py, line 1)

In [20]:
 x = -5j
print(type(x))

<class 'complex'>

In [22]:
x = int(1.2)
y= int(3.4)
z= int('5')
print(x)
print(y)
print(z)

1
3
5

In [24]:
x = float(1)
print(x)

1.0

In [25]:
x = str('s1')
print(x)

s1

In [27]:
y = str('2')
print(y)

2

In [28]:
# list constructors

thelist= list(('apple','cat','banana'))
print(thelist)

['apple', 'cat', 'banana']

In [30]:
#fetching from a list

thelist= ['apple','orange','banana','lime','lemon']
print(thelist[0])

apple

In [31]:
thelist= ['apple','orange','banana','lime','lemon']
print(thelist[1:4])

['orange', 'banana', 'lime']

In [33]:
thelist= ['apple','orange','banana','lime','lemon']
thelist[1]= 'pawpaw'
print(thelist)

['apple', 'pawpaw', 'banana', 'lime', 'lemon']

In [3]:
thelist= ['apple','orange','banana','lime','lemon']
thelist[0:4]= ['pawpaw','coconut']
print(thelist)

['pawpaw', 'coconut', 'lemon']

In [36]:
thelist= ['apple','orange','banana','lime','lemon']
thelist.append('apple')
print(thelist)

#append

['apple', 'orange', 'banana', 'lime', 'lemon', 'apple']

In [38]:
thelist= ['apple','orange','banana','lime','lemon']
thelist.insert(2,'watermelon')
print(thelist)

#insert

['apple', 'orange', 'watermelon', 'banana', 'lime', 'lemon']

In [39]:
thelist= ['apple','orange','banana','lime','lemon']
anotherlist =[ 'rat','goat','lion']
thelist.extend(anotherlist)
print(thelist)

#extend

['apple', 'orange', 'banana', 'lime', 'lemon', 'rat', 'goat', 'lion']

In [40]:
#remove

thelist= ['apple','orange','banana','lime','lemon']
thelist.remove('orange')
print(thelist)

['apple', 'banana', 'lime', 'lemon']

In [41]:
thelist= ['apple','orange','banana','lime','lemon']
thelist.pop(2)
print(thelist)

#pop removes using the index, same as del

['apple', 'orange', 'lime', 'lemon']

In [43]:
thelist= ['apple','orange','banana','lime','lemon']
thelist.clear()
print(thelist)

[]

In [45]:
thelist= ['apple','orange','banana','lime','lemon']
del thelist

In [48]:
# if else 

a = 5
b= 7
if b> a:
     print('b is greater than a')

b is greater than a

In [50]:
a = 8
b= 7
if b > a:
    print('b is greater than a')
elif a>b:
    print('a is greater than b')

a is greater than b

In [54]:
a = 9
b= 9
if b>a:
    print('b is greater than a')
elif a>b:
    print('a is greater than b')
else:
    print('none is greater')

none is greater

In [55]:
a = 100
b=76
print('A') if a < b else print('B')

B

In [57]:
a = 100
b =90
c=120
if a > b and c > a:
    print('both conditions are true')

both conditions are true

In [59]:
a = 100
b = 90
c = 120
if a < b or c > a:
    print('one of the conditons is true')

one of the conditons is true

In [64]:
x = 40


if  x > 10:
    print('Above ten,')
    if x>20:
        print('and also above twenty,')
    else:
        print('but not above twenty.')

Above ten,
and also above twenty,

In [67]:
# while loop

i = 1
while i <10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [3]:
i = 1
while i < 10:
    print(i)
    if i ==5:
     break
    i +=1

1
2
3
4
5

In [10]:
i =1 
while i < 10:
    i += 1
    if i ==3:
     continue
    print(i)

2
4
5
6
7
8
9
10

In [4]:
#functions exercise





height =  input('Enter the height') 
base = input('Enter the base')


def calculate_area(height,base):
    area = (1/2)*base*height
    print('Area of a triangle:', area)

calculate_area(6,5)

Enter the height 6
Enter the base 5

Area of a triangle: 15.0

In [5]:
#for loop


fruits=['orange','apple','banana']
for x in fruits:
    print(x)

orange
apple
banana

In [6]:
# for looping through a string 


for x in 'banana':
    print(x)

b
a
n
a
n
a

In [9]:
fruits=['orange','apple','banana','coconut','watermelon']
for x in fruits:
    print(x)
    if x == 'banana':
        break

orange
apple
banana

In [13]:
fruits=['orange','apple','banana','coconut','watermelon']
for x in fruits:
    if x == 'banana':
        break
    print(x)

orange
apple

In [14]:
fruits=['orange','apple','banana','coconut','watermelon']
for x in fruits:
    if x == 'banana':
        continue
    print(x)

orange
apple
coconut
watermelon

In [17]:
# for and rangee

for x in range (6):
    print(x)

0
1
2
3
4
5

In [18]:
for x in range (2,6):
    print(x)

2
3
4
5

In [20]:
for x in range (2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [22]:
for x in range(6):
    print(x)
else:
    print('Loop is finished!')

0
1
2
3
4
5
Loop is finished!

In [26]:
fruits=['orange','apple','banana','coconut','watermelon']
pets = ['cat','dog','hen']

for x in fruits:
    for y in pets:
        print(x,y)

orange cat
orange dog
orange hen
apple cat
apple dog
apple hen
banana cat
banana dog
banana hen
coconut cat
coconut dog
coconut hen
watermelon cat
watermelon dog
watermelon hen

In [28]:
for x in [0,1,2]:
    pass

In [13]:


def calculate_area(height,base, shape = 'triangle'):
    if shape == 'triangle':
        area = (1/2)*height*base
        print('Area of the triangle is', area)
    elif shape == 'rectangle':
        area = base * height
        print('Area of the rectangle is: ', area)

In [16]:
calculate_area(5,6, shape = 'rectangle')

Area of the rectangle is:  30

In [19]:
##functions 

def my_function():
    print('hello world')
my_function()

hello world

In [21]:
def my_function(fname):
    print(fname + 'Refsnes')


my_function('Frank')
my_function('Ohene-Darkoh')

FrankRefsnes
Ohene-DarkohRefsnes

In [23]:
def my_function(*names):
    print('The youngest child is ' + names[2])

my_function('Frank','Herty','Rod')

The youngest child is Rod

In [26]:
def my_function(child1,child2,child3):
    print('The youngest child is'+ child3)

my_function(child1='Frank',child2='kofi', child3=' ama')

The youngest child is ama

In [30]:
def my_function(**kid):
    print('The youngest kid is' + kid['kid2'])

my_function(kid1='frank', kid2=' ama')

The youngest kid is ama

In [31]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [36]:
def my_function(food):
   print(food)

fruits=['apple','orange','watermelon']

my_function(food = fruits)

['apple', 'orange', 'watermelon']

In [43]:
def my_function(x):
    return 5 * x

my_function(3)

15

In [46]:

def my_function(x, /):
  print(x)

my_function(3)
#postional only arguments

3

In [48]:
###lambda function is a small anonmois function. and can take any number of arguments


x = lambda a:a +10
print(x(5))

15

In [49]:
x = lambda a , b : a+ b
print(x(5,6))

11

In [ ]:
#file handling
# keyfunction for working with files in pyhton is the open() function
# the open function() takes two parameters filename and mode
# four methods for opening a file
# r,a,w,x: read, append , write, create


f = open('demofile.txt')

In [11]:
#coding exercises
#a program to reverse a str

arr='Hello World'[::-1]
print(arr)

#we used the slicer

dlroW olleH

In [13]:
def reverse_string(s):
    return s[::-1]

input_string ='Hello world'
reverse_string = reverse_string(input_string)
print('Original string:', input_string)
print('Reversed string:',reverse_string)

#a program to reverse a string

Original string: Hello world
Reversed string: dlrow olleH

In [2]:
#chcecking for palindrome

def is_palindrome(s):
    s = s.replace(' ','').lower()
    return s ==s[::-1]

input_string= 'top spot'
if is_palindrome(input_string):
    print('The string is a palindrome.')
else:
    print('The string is not a palindrome.')

The string is a palindrome

In [7]:
def is_palindrome(s):
    s= s.replace(' ','').lower()
    return s== s[::-1]

input_string= 'happy'
if is_palindrome(input_string):
    print('The statement is a palindrome')
else:
    print('The statement is not a palindrome')

The statement is not a palindrome

In [18]:
#checking for a palindrome using a number


def is_palindrome(number):
    num_str = str(number)
    return num_str == num_str[::-1]

input_number=12325
if is_palindrome(input_number):
    print('The number is a palindrome')
else:
    print('The number is not a palindrome')

The number is not a palindrome

In [20]:
#counting vowels in a string
def vowel_present(vowel):
    input_word == 'a' || 'e' || 'i' || 'o' || 'u'
    return  input_word.count()

input_word='dictionary'
if vowel_present(input_word):
    print('The word had vowels')
else:
    print('The word has no vowels')

SyntaxError: invalid syntax (553173610.py, line 3)