In [1]:
import pandas as pd

ImportError: DLL load failed while importing _multiarray_umath: The specified module could not be found.

ImportError: DLL load failed while importing _multiarray_umath: The specified module could not be found.

In [2]:
data = {'age': [25, 22, 18, 30, 45, 50, 35, 20, 55, 40],
          'gender': ['M', 'F', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M'],
            'score': [90, 80, 75, 95, 70, 85, 75, 90, 95, 85]}
df = pd.DataFrame(data)
df

   age gender  score
0   25      M     90
1   22      F     80
2   18      F     75
3   30      M     95
4   45      M     70
5   50      F     85
6   35      M     75
7   20      F     90
8   55      M     95
9   40      M     85

In [7]:
df['gender'].value_counts()

gender
M    6
F    4
Name: count, dtype: int64